/* Color for boxes and border
#e6df44 daffodil
#f7efe2 ice
#ffccac peach
#c9d1c8 fog
#c5001a engine red
#ff0038 magenta
#b8d20b lettuce */
.container {
  text-align: center;
}
#story{
  display: none;
  /* border: 2px solid #e6df44; */
  padding-top:30px;
}
#other {
  display: none;
}

body {
  /* background-color: #c9d1c8; */
  margin: 40px;
}


.bucket {
  margin: 30px;
}

.bucket p {
  display: none;
}
.row {
  /* margin:10px; */
  /* border: 1px solid #c5001a; */
  padding: 10px
  background-color: #e6df44;
}

.col-md-4 {
  border: 1px solid black;
  padding: 30px;
  background-color: #e6df44;
  text-align: center;
}

.survey {
  display: none;
  margin: 30px;
}

.result {
  margin:30px;
}

#ruby{
  display: none;
}

#php{
  display: none;
}

#java{
  display: none;
}

#css {
  display: none;
}

/* #formOne {
  display: none;
} */
