/* Color for boxes and border
#e6df44 daffodil
#f7efe2 ice
#ffccac peach
#c9d1c8 fog
#c5001a engine red
#ff0038 magenta
#b8d20b lettuce */


#story {
  display: none;
}
#other {
  display: none;
}

body {
  background-color: #c9d1c8;
}


.bucket {
  margin: 30px;
}

.bucket p {
  display: none;
}
.row {
  /* margin:10px; */
  /* border: 1px solid #c5001a; */
  padding: 10px
  background-color: #ffccac;
}

.col-md-4 {
  border: 1px solid black;
  padding: 30px;
  background-color: #ffccac;
  text-align: center;
}

.survey {
  margin: 30px;
}

.flashcard-clicked {
  background-color: gray;
}
